.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #272727;
  color: white;
}
.header-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.home-item {
  margin-right: 20px;
  cursor: pointer;
  color: white;
  outline: none;
}
.jobs-item {
  cursor: pointer;
  color: white;
  outline: none;
}
.logout-button {
  margin-top: 14px;
  background-color: #4f46e5;
  border-width: 0px;
  width: 120px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
